# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/
ENV/
*.env

# FastAPI/Database
*.sqlite3
*.sqlite
*.db

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Data & Outputs
*.csv
*.log
*.png

# Test artifacts
*.pytest_cache/
.coverage
htmlcov/
